<div class="aligner">
   <div id="risa-release-content">
       <h1>Risa and the Loyal</h1>
       <h3 id="mad-love">Mad Love EP - 3.7.2017</h3>
       <button class="kickstarter"><a href="https://www.kickstarter.com/projects/2010714661/mad-love" target="_blank">Support Me On Kickstarter</a></button>
       <hr />
       <ul class="social-media">
           <li><a href="https://www.facebook.com/risarodriguezmusic/" target="_blank"><i class="fa fa-2x fa-facebook"></i></a></li>
           <li><a href="https://www.instagram.com/risaandtheloyal/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
           <li><a href="https://twitter.com/risaandtheloyal" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
           <li><a href="#" target="_blank"><i class="fa fa-2x fa-snapchat"></i></a></li>
       </ul> 
   </div>   
</div>
